{% extends 'template2.html.twig' %}

{% block title %}Payment Success
{% endblock %}

{% block body %}

	<section id="hero" class="hero d-flex align-items-center" style="min-height: 100vh;">
		<div class="container">
			<h1 class="text-center text-success" style="margin-bottom: 250px;">
				<div data-aos="zoom-out">
					<i class="bi bi-check2-circle" style="font-size: 300px;"></i>
				</div>

				<strong style="font-size: 50px;">Booking Success</strong><br>
				<strong style="font-size: 30px; color: white">Check your email for ticket</strong>
			</h1>
		</div>
	</section>
{% endblock %}
