{% extends 'template2.html.twig' %}

{% block title %}iPark - Parking Services
{% endblock %}

{% block body %}

	<section id="hero" class="hero d-flex align-items-center" style="min-height: 100vh;">
		<div class="container">
            <h1 class="text-center">Page not found</h1>
			<h1 class="align-items-center" style="margin-bottom: 250px;">
				<div class="hero-img" data-aos="zoom-out">
					<img src="{{ asset('assets/img/error404.svg') }}" class="img-fluid" alt="">
				</div>
			</h1>
		</div>
	</section>
{% endblock %}
