<!doctype html>
<html lang="en">
<head>
<title>votre session</title>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<div class="visit-counter">
    
    <span>votre nombre de visite est : {{ app.session.get('nbVisite') }}</span>
</div>
{{if app.session.get('session_expired') 
    <div class="alert alert-danger">Votre session a expiré. Veuillez vous connecter à nouveau pour continuer.</div>}}

</body>

