<!doctype html>
<html lang="en">
<head>
<title>nbre de visite</title>
<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<div class="visit-counter">
    
    <span>votre nombre de visite est : {{ app.session.get('nbVisite') }}</span>
</div>

</body>

