<form method="post" action="{{ path('app_entree_sortie_delete', {'id': entree_sortie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entree_sortie.id) }}">
    <button class="btn btn-lg btn-primary mt-2">Delete</button>
</form>
